# Địa chỉ Base URL của Backend API (Production hoặc Local)
VITE_API_URL=https://api.salonduongchi.website

# Mã Google Client ID dùng cho Google OAuth Đăng nhập
VITE_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
